#home
{
	background: url("main.png") no-repeat 50% 50%;
	display: table;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.scroll
{
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}